.App {
  padding: 1px;
  margin: none ;
  font-size:1.6em;
}

.App-link {
  color: rgb(242, 244, 245);
}

.App-start {
   text-align: center;
}

.Config-Screen {
  font-size: 1.6em;
}

fieldSet {
  border-radius: 8px;
}

input {
  accent-color: rgb(128, 128, 255);
}

